<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%block name="title"></%block></title>
  <link rel="stylesheet" href="/static/global.css">
  <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
  <%block name="content"></%block>
  % if messages:
    <ul class="flashes">
      % for msg in messages:
        <li>${msg}</li>
      % endfor
    </ul>
  % endif
  <footer>
    <p>
      Powered by
      <a href="https://github.com/HoangTuan110/flyurl">FlyURL</a> -- 
      a simple and self-hostable URL shortener.
    </p>
  </footer>
</body>
</html>
