/* Subreply CSS v0.1 (29/06/2022)
 * The beautiful CSS style used by Subreply (https://subreply.com/about)
 *
 * NOTES ABOUT FONT:
 * Note that the font used (Route 159) has to be installed independently
 * At https://dotcolon.net/font/route159
 *
 * After installing the zip, unzip the file, then go to `Web Fonts` directory.
 * You will have to rename the file:
 * - `Route159-Regular.woff` to `r159regular.woff`
 * - `Route159-Bold.woff` to `r159bold.woff`
 * to the directory that contains this style for the font to work.
 *
 * COPYRIGHT AND CREDITS:
 * Copyright 2014(?)-Present Lucian Marin (https://github.com/lucianmarin)
 * Straight up ripped from the website by Dang Hoang Tuan (https://tsk.bearblog.dev)
 */

html { --super: 8px; --tiny: 11px; --small: 13px; --regular: 14px; --radius: 6px; --d: 0.2s; --white: white; --whitesmoke: #f0f0f0; --redsmoke: #fff0f0; --gainsboro: #e0e0e0; --silver: #c0c0c0; --gray: #808080; --black: black; --accent: #4060e0; --orange: #FF4000; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

::-moz-placeholder { color: #1f1f1f; }

::-webkit-input-placeholder { color: var(--gray); }

@media (prefers-color-scheme: dark) { html { --white: black; --whitesmoke: #181818; --redsmoke: #281818; --gainsboro: #282828; --silver: #404040; --gray: #808080; --black: white; --accent: #6080e0; } ::-moz-placeholder { color: #eeeeee; } }

* { margin: 0; padding: 0; }

body { background-color: var(--white); color: var(--black); cursor: default; }

a { color: var(--black); cursor: pointer; text-decoration: none; transition: color var(--d); }

b, i, u { font-style: normal; font-weight: normal; text-decoration: none; }

form, input, img, label { display: block; }

body, label, input, select, textarea { font-family: "Route 159", sans-serif; font-size: var(--regular); line-height: 20px; }

label { color: var(--black); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

label i { color: var(--gray); }

sup { line-height: 0; }

input, select, textarea { -moz-appearance: none; -webkit-appearance: none; appearance: none; background-color: var(--whitesmoke); border-radius: var(--radius); border: 0 none; color: var(--black); display: block; font-weight: normal; }

input:focus, select:focus, textarea:focus { outline: 0 none; }

input[type=text], input[type=password], input[type=email], input[type=url], select, textarea { overflow: hidden; padding: 5px 10px; padding-right: 5px; resize: none; width: calc(100% - 15px); }

input[type=submit] { cursor: pointer; float: right; padding: 5px 15px; transition: background-color var(--d); }

input[type=submit]:hover { background-color: var(--gainsboro); }

svg { stroke-linecap: round; stroke-linejoin: round; stroke-width: 2; }

svg path { fill: none; stroke: var(--black); }

table { margin: 10px 0; width: 100%; }

table th { color: var(--silver); font-size: var(--small); font-weight: normal; padding-bottom: 2px; }

table td { border-top: var(--whitesmoke) 1px solid; padding: 2px 0; }

table td:last-child { padding-bottom: 0; }

table a { color: var(--accent); }

table a:hover { color: var(--gray); }

.container { display: grid; grid-column-gap: 10px; grid-template-columns: auto 144px 504px auto; }

.container > div { min-height: 100vh; }

.links { position: sticky; text-align: right; top: 10px; }

.links a { background-color: var(--white); border-radius: var(--radius); color: var(--black); display: block; height: 20px; padding: 5px 0; transition: background-color var(--d); }

.links a:hover { background-color: var(--whitesmoke); }

.links a.on { background-color: var(--whitesmoke); color: var(--accent); }

.links a.on svg path { stroke: var(--accent); }

.links a.red svg path { stroke: var(--orange); }

.links sup { font-size: var(--super); font-weight: bold; margin-left: 1px; }

.links svg { float: right; margin: 0 10px; padding: 2px; }

.title { color: var(--silver); font-weight: bold; margin: 15px 0; overflow: hidden; }

.title a { color: var(--silver); float: left; margin-right: 5px; }

.title a:last-child { margin-right: 0; }

.title a:hover { color: var(--gray); }

.title a.on { color: var(--black); }

.title a.on::first-letter { border-bottom: 2px solid var(--black); }

.reply { margin: 10px 0; overflow: hidden; }

.reply .placeholder { background: var(--whitesmoke); background: linear-gradient(90deg, var(--whitesmoke) 0%, var(--white) 100%); border-radius: var(--radius); color: var(--gray); padding: 5px 10px; }

.reply label { background-color: var(--whitesmoke); border-bottom-right-radius: var(--radius); border-top-right-radius: var(--radius); float: right; padding: 7px 10px; padding-left: 5px; height: 16px; width: 16px; }

.reply input[type="text"] { border-bottom-right-radius: 0; border-top-right-radius: 0; float: left; width: calc(100% - 46px); }

.list { margin: 10px 0; }

.list > .entry:first-child { border-top: 0 none; padding-top: 0; }

.list > .entry:last-child { padding-bottom: 0; }

.entry { border-top: var(--whitesmoke) 1px solid; padding: 5px 0; }

.entry.indent { margin-left: 30px; }

.entry .text { margin-left: 30px; }

.entry .text p { margin: 7.5px 0; }

.entry .text p:first-child { margin-top: 0; }

.entry .text p strong { margin-left: -30px; }

.sublist { margin-left: 30px; }

.load { text-align: center; }

.load a { color: var(--gray); }

.load a:hover { color: var(--silver); }

.inline { opacity: 0.5; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.inline .name { font-weight: bold; }

.content { cursor: text; word-break: break-word; }

.content a { color: var(--accent); }

.content a.name { color: var(--black); font-weight: bold; }

.content a.story { display: block; }

.content a:hover { color: var(--gray); }

.content b { color: var(--silver); }

.small { font-size: var(--small); overflow: hidden; }

.small a, .small b { float: left; margin-right: 10px; }

.small a:first-child, .small b:first-child { float: right; margin-right: 0; }

.small b { color: var(--silver); }

.small a { color: var(--gray); }

.small a:hover { color: var(--silver); }

.author { color: var(--gray); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.author .done, .author .handle, .author i { font-weight: bold; }

.author .action, .author .ago, .author .done { color: var(--gray); }

.author .action:hover, .author .ago:hover, .author .done:hover { color: var(--silver); }

.author .accent { color: var(--accent); }

.author .accent:hover, .author .handle:hover { color: var(--gray); }

.author b { color: var(--silver); float: right; }

.author .here { color: green; }

.author .away { color: var(--orange); }

.author .gone { color: var(--gray); }

.status { color: var(--gray); font-size: var(--small); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.status a { color: var(--gray); }

.status a:hover { color: var(--silver); }

.request.upper { margin-top: -10px; }

.line { margin-bottom: 10px; overflow: hidden; }

.line label { font-size: var(--small); }

.line .one, .line .two, .line .left, .line .right, .line .third { float: left; }

.line .one { width: calc(100% / 3 - 1px); }

.line .two { width: calc(100% / 3 * 2 - 1px); }

.line .left, .line .right { width: calc(50% - 1px); }

.line .left, .line .one { margin-right: 1px; }

.line .left input, .line .one input { border-bottom-right-radius: 0; border-top-right-radius: 0; }

.line .right, .line .two { margin-left: 1px; }

.line .right input, .line .two input { border-bottom-left-radius: 0; border-top-left-radius: 0; }

.line .third { width: calc(100% / 3 - 2px); }

.line .third input { border-radius: 0; }

.line .third:first-child { margin-right: 2px; width: calc(100% / 3 - 1px); }

.line .third:first-child input { border-bottom-left-radius: var(--radius); border-top-left-radius: var(--radius); }

.line .third:last-child { margin-left: 2px; width: calc(100% / 3 - 1px); }

.line .third:last-child input { border-bottom-right-radius: var(--radius); border-top-right-radius: var(--radius); }

.error { clear: both; color: var(--orange); font-size: var(--small); }

.error a { color: var(--orange); font-weight: bold; }

.about a { font-weight: bold; }

.about a:hover { color: var(--gray); }

.about h4 { margin-top: 10px; }

.about h4 + p { text-indent: 0; }

.about p { text-indent: 30px; }

.about p:first-child { text-indent: 0; }

.about p:last-child { margin-bottom: 10px; }

.about ol, .about ul { margin-bottom: 10px; margin-left: 30px; }

@media (max-width: 677px) { .container { grid-template-columns: auto 40px 504px auto; } .links i { display: none; } }

@media (max-width: 573px) { .container { grid-template-columns: 0 40px calc(100% - 70px) 0; } }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: normal; src: url(/r159regular.woff) format("woff"); }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: bold; src: url(/r159bold.woff) format("woff"); }

